
xmlrpc\.php

wp-trackback\.php

wp-signup\.php

wp-settings\.php

wp-mail\.php


license\.txt

readme\.html

wp-activate\.php

wp-blog-header\.php

wp-comments-post\.php

wp-config-sample\.php

wp-cron\.php

wp-links-opml\.php

wp-load\.php

wp-login\.php

wp-includes/

wp-admin/

wp-content/languages/

wp-content/plugins/

\.htaccess

wp-config\.php

wp-content/themes/index\.php
